---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
import LinkedInIcon from '../Asstes/icons/LinkedIn.astro'
import GitHubIcon from '../Asstes/icons/GitHub.astro'
import MailIcon from '../Asstes/icons/Mail.astro'
import Briefcase from '../Asstes/icons/Briefcase.astro'
import CodeIcon from '../Asstes/icons/Code.astro'
import FileIcon from '../Asstes/icons/File.astro'
import SocialPill from '../components/SocialPill.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Projects from '../components/Projects.astro';
import AboutMe from '@/components/AboutMe.astro';
import ProfileCheck from '@/Asstes/icons/ProfileCheck.astro';
---

<Layout 
	title="Portfolio de José Flores - Desarrollador y Programador Web"
	description='Pongamonos en contacto y desarrollemos la solución a tu idea de proyecto de software'
	>
	<main class="px-4">
		<SectionContainer class="py-40 pb-32">
			<img
        		class="rounded-full size-20 mb-4" 
        		src="/projects/Perfil.webp" 
        		alt="Jose Foto"
			/>
			<h1 class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hola, soy José Flores 
				<a 
					href="https://www.linkedin.com/in/jose-floresh94/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center">
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-pretty max-w-[700px] text-black dark:text-white">
				<span>Soy un</span>
				<span class="text-yellow-800 dark:text-yellow-200">Fullstack developer.</span>
				<span class="text-blue-600">De San Salvador, El Salvador.</span>
				<br/>
				Tengo conocimiento en 
				<span class="text-yellow-800 dark:text-yellow-200">HTML, CSS, Java y JavaScript.</span>
				<br/>
				Actualmente, me capacito en los frameworks 
				<span class="text-green-500">Spring</span> 
				para backend, así como 
				<span class="text-red-500">Astro y Angular</span> 
				para frontend, para poder ampliar mis habilidades en la creación de aplicaciones web dinámicas y eficientes.
			</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/jose-floresh94/">
					<LinkedInIcon class="size-4 md:size-6"/>
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/Josefloresh94">
					<GitHubIcon class="size-4 md:size-6"/>
					GitHub
				</SocialPill>
				<!-- <SocialPill download="../../public/projects/CVJoseFlores.pdf" href="../../public/projects/CVJoseFlores.pdf">
					<FileIcon class="size-4 md:size-6"/>
					Descarga mi CV
				</SocialPill> -->
				<SocialPill href="mailto:jose.flores94h@gmail.com">
					<MailIcon class="size-4 md:size-6"/>
					Contáctame
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2
				class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
			>
				<Briefcase class="size-7" />
				Experiencia laboral
			</h2>
			<Experience/>
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2
				class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
			>
				<CodeIcon class="size-7" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer>
			<h2
        		class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80">
				<ProfileCheck class="size-7" />
				Sobre mi
			</h2>
			<AboutMe />
		</SectionContainer>
	</main>
</Layout>
