---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
    {
        date: "Actualmente...",
        title: "Conversion Specialist − Slidegrin LLC - El Salvador",
        description: "Soy un profesional experto en la conversión de diversas formas de contenido en múltiples formatos. Garantizando la compatibilidad y manteniendo la integridad del material original.",
    },
    {
        date: "Junio - Agosto 2022 ",
        title: "Trainee PEGA Program − PerseusX - El Salvador",
        description: "Me formé en el desarrollo de aplicaciones por medio de la plataforma low-code PEGA.",
    },
    {
        date: "Enero 2021 - Mayo 2021",
        title: "Trainee Data Scientist − Lastfood - Colombia",
        description:
        "Puse en práctica mis conocimientos de cocina, para ayudar a esta StartUp a encontrar estrategias con las cuales, ayudar a evitar el desperdicio de alimentos, por medio de una app de domicilio.",
    },
]
---

<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCIE.map((experiencie) => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...experiencie} />
        </li>
        ))
    }
</ol>

